.column-1 {
  display: inline-block;
  width: 40%;
  background-color: grey;
  font-family:Arial;
  border:1px solid yellow;
  height:160vh;
  overflow:scroll;
  padding:3px;
}

.column-2 {
  display: inline-block;
  width: 40%;
  vertical-align: top;
  background-color: grey;
  height:160vh;
  overflow:scroll;
  padding:3px;
}
img{
  width:100px;
}
h2{
  color: #00FFFF;
}
footer{
  text-align:center;
}

