img#octopus {
	position: absolute;
	margin-left: 500px;
	margin-top: 80px;
}

img#hat {
	position: absolute;
	margin-left:490px;
}

img#glasses {
	position: absolute;
	margin-left:544px;
	margin-top: 180px;
}